@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

.link {
  color: #062880;
  font-size: .7rem;
  text-decoration: underline;
}

.link-lg {
  color: #062880;
  font-size: .8rem;
}

.link-sm {
  color: #A9A9A9;
  font-weight: 600;
}

/* buttons */
.btn {
  outline: none;
  border: none;
}

.back-btn {
  font-size: 1.2rem;
  background-color: transparent;
}

.plus-btn {
  background-color: transparent;
  border: 1px solid #062880;
  border-radius: 30%;
  padding: 3px 4px;
  font-size: 1.2rem;
  color: #062880;
  font-weight: 600;
}

.error {
  color: red
}